[submodule "build/external/SDL2"]
	path = build/external/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
